
<div class="bg-light text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3 bg-light">
  &copy; {{ 'now'|date('Y') }} &middot;
Built with <span class="text-danger">&hearts;</span> by Nassim Zitouni
  </div>
  <!-- Copyright -->
</div>


