<footer class="fixed-bottom container-fluid mb-0 py-3 bg-light text-center w-100 footer">

  <p class="text-muted">
    <small>
        &copy; {{ 'now'|date('Y') }} &middot;
        Built with <span class="text-danger">&hearts;</span> by Nassim Zitouni
    </small> 
  </p>
</footer>


