@import "shared/_variables";
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qahiri&display=swap");
@import "~bootstrap";
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';



body {
  background-color: lightgray;
  font-family: $primary-font, sans-serif;
  position: relative;
  padding-bottom:150px;
  min-height: 980px;
}
footer {
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0;
}
.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0px;
  font-family: $primary-font, sans-serif;
  font-size: 1em;

  &.alert-success {
    background-color: green;
  }

  &.alert-error {
    background-color: red;
  }

  &.alert-info {
    background-color: blue;
  }
}
.vich-image {
  .form-check {
    @extend .mt-3;
  }

  img {
    @extend .mb-2, .rounded, .shadow, .img-thumbnail;
  }
}

#no_pin_title {
  margin-top: 100px;
}

.pin img {
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.075);
  }
}

#avatar_profil{
  transition: transform 0.3s ease-out;
  &:hover {
    transform: scale(1.075);
  }
}
