@import 'shared/_variables';
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');
@import '~bootstrap';

body {
    background-color:lightgray;
    font-family:$primary-font, sans-serif; 
    margin-bottom: 100px;
}
a {
    color: black ;

    &:visited {
        color:black;
    }

    &:hover {

        color:green;
    }
}
.alert {
    padding: 10px;
    color: white;
    text-align: center;
    margin: 0;
    border: none;
    border-radius: 0px;
    font-family:$secondary-font, sans-serif; 
    font-size: 2em;

    &.alert-success {
        background-color: green;
    
    }
    
    &.alert-error {
        background-color: red;
    }
    
    
    &.alert-info {
        background-color: blue;
    }
    
}
.vich-image {

        .form-check {
            @extend .mt-3
        }
    
        img {
    @extend .mb-2;
    @extend .rounded;
    @extend .shadow;
    @extend .img-thumbnail;
        }
}

#no_pin_title {
    margin-top:100px;
}

.pin img{
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}